 <div class="user-details">
  <h1> Hi, Thanks for visiting. </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <p>I like learning about and using all sorts of design tools but my favorites to use are below.</p>
     
      <img alt="paper-and-pencil" src="{{ "/assets/img/Paper.png" | prepend: site.baseurl }}" />
      <img alt="Figma" src="{{ "/assets/img/Figma.png" | prepend: site.baseurl }}" />
      <img alt="Invision" src="{{ "/assets/img/Invision.png" | prepend: site.baseurl }}" />
      <img alt="Procreate" src="{{ "/assets/img/Procreate.png" | prepend: site.baseurl }}" />
      <img alt="Sketch" src="{{ "/assets/img/Sketch.png" | prepend: site.baseurl }}" />
      <img alt="Zeplin" src="{{ "/assets/img/zeplin.png" | prepend: site.baseurl }}" />
      
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
