 <div class="user-details">
  <h1> Hi, Thanks for visiting. </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Designing</h2>
      <p>I like learning about and using all sorts of design tools but my favorites to use are below.</p>
    <img alt="paper-and-pencil" src="{{ "/assets/img/Paper.png" | prepend: site.baseurl }}" />
    <img alt="Figma" src="{{ "/assets/img/Figma.png" | prepend: site.baseurl }}" />
    <img alt="Invision" src="{{ "/assets/img/Invision.png" | prepend: site.baseurl }}" />
    <img alt="Procreate" src="{{ "/assets/img/Procreate.png" | prepend: site.baseurl }}" />
    <img alt="Sketch" src="{{ "/assets/img/Sketch.png" | prepend: site.baseurl }}" />
    <img alt="Zeplin" src="{{ "/assets/img/zeplin.png" | prepend: site.baseurl }}" />
    </div>
      
    <div class="developing">
      <h2>Administrating</h2>
      <p>And these are some opperating systems, softwares, and tools I am comfortable with using</p> 
    <i class="devicon-android-plain"></i>
    <i class="devicon-windows8-original"></i>
    <i class="devicon-linux-plain"></i>
    <i class="devicon-apple-original"></i>
    <i class="devicon-chrome-plain-wordmark"></i>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-raspberrypi-line-wordmark"></i>
    <i class="devicon-slack-plain-wordmark"></i>
    <i class="devicon-trello-plain-wordmark"></i>
    <i class="devicon-ubuntu-plain-wordmark"></i>
    <i class="devicon-visualstudio-plain-wordmark"></i>
    <i class="devicon-vscode-plain-wordmark"></i>
    <i class="devicon-intellij-plain-wordmark"></i>
    <i class="devicon-atom-original-wordmark colored"></i>
    <i class="devicon-azure-plain-wordmark"></i>
    </div>
      
    <div class="tech">
      <h2>Developing</h2>
    <p>Experienced with/in the following programming languages, frameworks, and packages.</p>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-django-plain-wordmark"></i> 
    <i class="devicon-flask-original-wordmark"></i>
    <i class="devicon-pandas-original-wordmark"></i>
    <i class="devicon-heroku-plain-wordmark"></i>
    <i class="devicon-r-original"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark"></i>
    <i class="devicon-devicon-plain-wordmark"></i>
    <i class="devicon-github-original-wordmark"></i>
    <i class="devicon-git-plain-wordmark"></i>
    <i class="devicon-mysql-plain-wordmark"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-npm-original-wordmark"></i>
    <i class="devicon-ruby-plain-wordmark"></i>
    </div> 
</div>
