<div class="user-details">
    <hand><span class="wave">👋</span></hand> <h2> Thanks for visiting. Below are tools, operating systems, and languages I am comfortable with.</h2>
<!--  <p> {{site.user_description}} </p>-->
</div>

  <div class="user">
    <div class="tech" data-aos="fade-down">
        <h1><span class="greenHighlight">
      Designing
  </span></h1>
    <i class="icon fab fa-figma"></i>
    <i class="icon fab fa-invision"></i>
    <i class="icon fab fa-sketch"></i>
    <i class="devicon-xd-plain"></i>
    <i class="devicon-illustrator-plain"></i>
    <i class="devicon-photoshop-plain"></i>
    <i class="devicon-gimp-plain"></i>
    <i class="devicon-inkscape-plain-wordmark"></i>
    </div>

    <div class='administrating'data-aos="fade-up">
        <h1><span class="greenHighlight">
      Administrating
  </span></h1>
  <i class="devicon-azure-plain-wordmark"></i>
  <i class="devicon-salesforce-plain"></i>
  <i class="fab fa-brands fa-google-play"></i>
  <i class="devicon-android-plain"></i>
  <i class="fab fa-brands fa-app-store-ios"></i>
  <i class="devicon-apple-original"></i>
  <i class="devicon-heroku-plain-wordmark"></i>
  <i class="devicon-sqlite-plain-wordmark"></i>
  <i class="devicon-postgresql-plain-wordmark"></i>
  <i class="devicon-flask-original-wordmark"></i>
  <i class="devicon-django-plain-wordmark"></i>
    <i class="devicon-github-original-wordmark"></i>
    <i class="devicon-raspberrypi-line-wordmark"></i>
    <i class="devicon-docker-plain-wordmark"></i>
    <i class="devicon-jira-plain-wordmark"></i>
    <i class="devicon-confluence-original-wordmark"></i>
    </div>


    <div class="tech"data-aos="fade-down">
        <h1><span class="greenHighlight">
      Developing
  </span></h1>
    <i class="devicon-swift-plain-wordmark"></i>
    <i class="devicon-androidstudio-plain-wordmark"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-npm-original-wordmark"></i>
    <i class="devicon-django-plain-wordmark"></i>
    <i class="devicon-pandas-original-wordmark"></i>
    <i class="devicon-numpy-original-wordmark"></i>
    <i class="devicon-r-original"></i>
    <i class="devicon-intellij-plain-wordmark"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark"></i>
    <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
    <i class="devicon-mysql-plain-wordmark"></i>
    <i class="devicon-sequelize-plain-wordmark"></i>

    </div>
</div>

    </div>
</div>
