<footer class="footer">

    <!-- partial -->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/modalHELL.js"></script>
<script src="/assets/js/sciCrunchParticles.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112252393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112252393-1');
</script>

    <h7>Built with <span class="love">❤</span> (this website is in active development!! sorry if u see bugs)</h7>
    <div class="content"> <h3>  </h3> </div>
</footer>

