<footer class="footer">

    <!-- partial -->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script><script  src="./script.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/modalHELL.js"></script>
<script src="/assets/js/sciCrunchParticles.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{% include google-analytics.html %}"></script>

    <p>Built with <span class="love">❤</span> (this website is in active development!! sorry if u see bugs)</p>
    <div class="content"> <h3>  </h3> </div>
</footer>

