<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My instagram" target="https://www.instagram.com/k.__y__.l/?hl=en" href="https://www.instagram.com/k.__y__.l/?hl=en"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="https://github.com/kessenma" href="https://github.com/kessenma"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down"></i></a>
</div>
<main class="cd-content">
<div>  
  <nav class="cd-stretchy-nav add-content">
    <a class="cd-nav-trigger" href="#0">
      Menu
      <span aria-hidden="true"></span>
    </a>

    <ul>
      <li><a href="#about"><span>Skills</span></a></li>
      <li><a href="#0"><span>Audio</span></a></li>
      <li><a href="#0"><span>Link</span></a></li>
      <li><a href="#0"><span>Video</span></a></li>
    </ul>

    <span aria-hidden="true" class="stretchy-nav-bg"></span>
  </nav>
</div>