<!--
Menu Bar!!!!!
<main class="cd-content">
<div>
  <nav class="cd-stretchy-nav add-content">
    <a class="cd-nav-trigger" href="#0">
      Menu
      <span aria-hidden="true"></span>
    </a>

    <ul>
      <li><a href="#about"><span>Skills</span></a></li>
      <li><a href="#projects"><span>Projects</span></a></li>
      <li><a href="#0"><span>Coming</span></a></li>
      <li><a href="#0"><span>Soon</span></a></li>
    </ul>

    <span aria-hidden="true" class="stretchy-nav-bg"></span>
  </nav>
</div>
-->


<div id="particles-js">

<!--Type Writer!!!-->
<div class="animatedHeader">
<h1>Hi! I'm Kyle -- I am a UX Researcher who likes to code</h1>
  <!-- previous
<h1><a class="typewrite" data-period="2000" data-type='[ "Hi! Im Kyle.", "I am a UX Researcher who likes to code"]'> -->
    <span class="wrap"></span> </a></h1>
</div>

<!--ICONS!!!!!-->
    <div class="headerIcons">
      <div class="header-icons">
            <a aria-label="My instagram" target="https://www.instagram.com/k.__y__.l/?hl=en" href="https://www.instagram.com/k.__y__.l/?hl=en"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>

            <a aria-label="My Github" target="https://github.com/kessenma" href="https://github.com/kessenma"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>

            <a aria-label="My Unsplash" target="https://unsplash.com/@smacher" href="https://unsplash.com/@smacher"><i class="icon fab fa-unsplash" aria-hidden="true"></i></a>

            <a aria-label="My Linkedin" target="https://www.linkedin.com/in/kessenma/" href="https://www.linkedin.com/in/kessenma/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>

            <a aria-label="My Research Gate profile" target="https://www.researchgate.net/profile/Kyle-Essenmacher/research" href="https://www.researchgate.net/profile/Kyle-Essenmacher/research"><i class="icon fab fa-researchgate" aria-hidden="true"></i></a>

            <a aria-label="My Code Pen" target="https://codepen.io/kessenma/pens/" href="https://codepen.io/kessenma/pens/"><i class="icon fab fa-codepen" aria-hidden="true"></i></a>
      </div>
</div>
</div>

    <!--Down Chevron!!    -->
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down"></i></a>
