<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT -->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<!-- CSS  -->
  <link rel="stylesheet" href="assets/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="assets/css/main.css"> <!-- Main CSS -->
<!-- Javascript -->
  <script src="assets/js/main.js"></script> <!-- main -->
  <script src="assets/js/jquery-2.1.1.js"></script> <!-- jquery -->
  <script src="assets/js/velocity.min.js"></script> <!-- velocity -->
  <script src="assets/js/modernizr.js"></script> <!-- Modernizr -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!--Devicons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/12cacea689.js"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">




  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

</head>
