<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My instagram" target="https://www.instagram.com/k.__y__.l/?hl=en" href="https://www.instagram.com/k.__y__.l/?hl=en"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="https://github.com/kessenma" href="https://github.com/kessenma"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down"></i></a>
</div>

<main class="cd-content">
