  <div class="content">
  <div class="user-details"> <h1> Selected Music Photogrtaphy </h1> </div>

      <div class="buttonsCenter">
        <p>
          <!-- https://www.instagram.com/p/BPQXBY-hjtc/ -->
          <p href="" data-modal="#modal5" class="modal__trigger">M83</p>
          <!-- https://www.instagram.com/p/BKgznE8AfKN/ -->
          <p href="" data-modal="#modal6" class="modal__trigger">Halsey</p>
          <!-- https://www.instagram.com/p/BKdhgC-gtYH/ -->
          <!-- https://www.instagram.com/p/BLOztsygU4_/ -->
          <p href="" data-modal="#modal7" class="modal__trigger">Run the Jewls</p>
          <!-- https://www.instagram.com/p/BITmRCGgjWw/ -->
          <p href="" data-modal="#modal8" class="modal__trigger">G-Eazy</p>
          <!-- https://www.instagram.com/p/BKJfM1SgcAS/ -->
          <p href="" data-modal="#modal9" class="modal__trigger">JoJo</p>
          <!-- https://www.instagram.com/p/BJ_tqlBAABK/ -->
          <p href="" data-modal="#modal10" class="modal__trigger">Tame Impala</p>
          <!-- https://www.instagram.com/p/BKYXDd8AZs4/ -->
          <p href="" data-modal="#modal11" class="modal__trigger">Fetty Wap</p>
          <!-- https://www.instagram.com/p/BIkUY8CgTvI/ -->
          <p href="" data-modal="#modal12" class="modal__trigger">BØRNS</p>
          <!-- https://www.instagram.com/p/BJ6VbWyA3Bv/ -->
          <p href="" data-modal="#modal13" class="modal__trigger">Kygo</p>
          <!-- https://www.instagram.com/p/BI8Iw3WAxnu/ -->
          <p href="" data-modal="#modal14" class="modal__trigger">Matt and Kim</p>
          <!-- https://www.instagram.com/p/BIVoCMNgP-L/ -->
          <p href="" data-modal="#modal15" class="modal__trigger">Haim</p>
          <!-- https://www.instagram.com/p/BGcL2-hGeMK/ -->
          <p href="" data-modal="#modal16" class="modal__trigger">Jaimie XX</p>
          <!-- https://www.instagram.com/p/BKdiSUgAjer/ -->
          <p href="" data-modal="#modal17" class="modal__trigger">Manatee Commune</p>
        </p>
      </div>
      <div class="content"> <h3>  </h3> </div>
      <div class="content"> <h3>  </h3> </div>
        </div>