<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mask_icon" src="{{ "/assets/img/covid_icon.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Michigan Covid-19 Dashboard </h3>
    <ul>
<!--       <li> Featured Skills</li>
      <li> Featured Skills</li> -->
    </ul>
    <p>Worked as a project manager, recruiter, and software tester to help get a Covid-19 dashboard up and running for the Michigan Governors office. Collaborated with students, professors and admins from the University of Michigan School of Information + School of Public Policy as well as Ford Motor Company</p>
    <a class="project-link" href="https://www.mistartmap.info/about">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="GoNana's log" src="{{ "/assets/img/gonanas.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> GoNana's Brand and Asset Creation </h3>
    <ul>
<!--       <li> took meeting minutes</li>
      <li> Assisted with managing contracts between the CEO and our team of designers </li> -->
    </ul>
    <p> Worked with a team of graphic designers, UX designers, and marketing students to come up with a brand identity for GoNana's packaging as well as animations for their website</p>
    <a class="project-link" href="https://eatgonanas.com/pages/about">Check it out</a>
  </div>
</div>
