<div class="diagonal-box bg-sciCrunch1">
  <div class="content">
    <div class="user-details" style="color: var(--limeGreen)";>
      <h5> renaissance baby Sticker app privacy policy </h5>

      <h6> 04/05/2022 // version 1.0 </h6>
    </div>

    <div class="contents-center horizontalBlock">
      <h7> hi,
        <br>
        This renaissance baby sticker app does not collect any user data. the only reason i have this site is cause it is required by app stores to submit on their marketplace. 

      </h7>
      

    </div>
</div>








  

