<div class="diagonal-box bg-sciCrunch1">
  <!-- <div class="angle-control"> <span id="angle-result" class="result">-11 deg</span> </div> -->
<div class="content">
<!-- TITLE -->
<div class="user-details">
  <h5> SciCrunch </h5>
  <h6> Project duration: Sept 2018 - May 2019</h6>
</div>

<div class="dna">
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
  <div class="ele"></div>
</div>


    <div class="contents-center horizontalBlock">
      <h7> During the 2018/19 academic year I collaborated with two other University of Michigan School of Information students to provide UX research on a search portal for biologists called SciCrunch (which was described by the client as an AI tool for identifying mice and antibodies’). <p><span class="greenHighlight">The primary purpose of SciCrunch is to allow Biologists to search for specimens (rats, mice, swine, guinea pigs, plants, proteins, etc) they are experimenting on and to make biology more accessible.</span></p>  A secondary purpose is to connect researchers with company’s selling organisms. My team started out as a group of four, but then one of us dropped because of family matters. The team was myself, Aaon and Demery. </h7>
    </div>

    <div class="space"> </div>
    <div class="contents-center space">
    <h8>At a high level we;</h8>
    </div>


    <div class="horizontalBlock">
      <div class="contents-left">
      <h7>
        <ol>
          <li>Listened to Biologist to understand their work, how they work, and become very familiar with the phrase “publish or perish”</li>
          <li> Used UX research principles we were taught in our classes in our process: competitive analysis, Nielsen heuristics, usability testing, user interviews, survey creation + management, and stakeholder analysis</li>
          <li>Designed lo + hi fidelity prototypes with: paper + pencil, whiteboards, sketch, and InVision</li>
          <li> Validated designs with A / B testing: Amazon MTurk, and user testing</li>
        </ol>
      </h7>
      </div>
      <div class="product-cycle">
        <div class="path -bg">
          <svg viewBox="0 0 477 241">
            <path d="M120,7C56,7,6,58.5,6,121s50.5,114,114,114s107-50.5,118.5-114 S293,7,357,7s114,52.5,114,114s-51,114-114,114s-103-41.5-118.5-114S184,7,120,7z" />
          </svg>
        </div>
        <div class="path -animate">
          <svg viewBox="0 0 477 241">
            <path id="path-to-animate" d="M120,7C56,7,6,58.5,6,121s50.5,114,114,114s107-50.5,118.5-114 S293,7,357,7s114,52.5,114,114s-51,114-114,114s-103-41.5-118.5-114S184,7,120,7z" />
          </svg>
        </div>
        <h5 class="header -think">Think</h5>
        <h5 class="header -make">Make</h5>

        <h2 class="explain -think">UX research/design, analysis</h2>
        <h2 class="explain -make">survey, prototype, develop</h2>
      </div>
    </div>



<div>
      <div style="display:block" class="contents-center">
        <h7>To understand the point of our client's search portal we set out to learn what SciCrunch’s competitors (loose term here) were doing and how SciCrcunch fit in the market segment<p><span class="greenHighlight"> to do this we made a competitive analysis spreadsheet</span></p></h7>
        </div>
    <div class="space"> </div>

        <div class="hscroll table1">
        <table width="100%" border="1" cellspacing="1" cellpadding="6">
            <tr>
              <th>Competitors </th>
              <th>Competitor Type </th>
              <th>Company Mission </th>
              <th>Design </th>
              <th>Organization of Results </th>
              <th>Filtering Options </th>
              <th>Search Help </th>
              <th>User Flow </th>
              <th>Visual Hierarchy </th>
            </tr>
            <tr>
              <td>SciCrunch</td>
              <td></td>
              <td>Help communities of researchers create their own portals to provide access to resources, databases and tools of relevance to their research areas. SciCrunch was designed to break down the traditional types of portal silos created by different communities, so that communities can take advantage of work done by others and share their expertise as well.</td>
              <td>Straight forward, minimalistic design with few colors used repetitively.</td>
              <td>Hard to tell what the search results are based off from because there are currently no sort filters. Each page contains 20 results with each having the title, the RRID, and a basic description of the paper.</td>
              <td>Users can filter search results by Last Modified Time.</td>
              <td>Visible, but appears as a pop-up with everything clustered in one scrollable window.</td>
              <td>Relatively convoluted since it takes a lot of steps to usually find the desired results on the resources page.</td>
              <td>Eyes get drawn to the search bar because of the surrounding image that contains colors that contrasts with the rest of the portal.</td>
            </tr>
            <tr>
              <td>ENVIGO</td>
              <td>Direct</td>
              <td>Envigo provides mission-critical products and research services for pharmaceutical, crop protection, and chemical companies as well as universities, governments, and other research organizations.</td>
              <td>Straight foward design with only a few colors used repetitively, but throw a lot of options to the users right off the bat. For instance, on the landing page, there are two navigation bars, which can be a bit overwhelming for first time users.</td>
              <td>Default search results are based on most related, but contains the options to filter search results by various categories. Search portal even allows the option to only return not only from the entire site but also a certain type of category.</td>
              <td>Users can filter search results by: media type, area, species, facility, species location, and research use.</td>
              <td>Visible, but appears as a pop-up with simple text and URLs in one window.</td>
              <td>Relatively smooth since the given search filters cover all if not most categories that allows users to find their desired results in almost all conditions.</td>
              <td>Eyes get drawn to the carousel since it takes up the majority of the landing page.</td>
            </tr>
            <tr>
              <td>Integrated: Animals</td>
              <td>Indirect </td>
              <td>We use state-of-the-art analytical methods in systems biology, that leverage on molecular biology, bioinformatics and data mining to discover new information that can be translated into effective nutritional and management interventions in commercial animal production systems.</td>
              <td>Simple design with numerious supporting text and images that thoroughly describe the purpose and the mission of the company. This particular company, however, contains no search portal for users to directly search for animals. Instead, products and external links are provided as resources.</td>
              <td>N/A - no search portal available on website.</td>
              <td>N/A - no search portal available on website.</td>
              <td>N/A - no help option available.</td>
              <td>N/A - no search portal to begin with.</td>
              <td></td>
            </tr>
            <tr>
              <td>JAX</td>
              <td>Niche</td>
              <td>(Sells mice) To discover precise genomic solutions for disease and empower the global biomedical community in the shared quest to improve human health.</td>
              <td>Straight forward design with a few colors used repetitively. Search portal contains different options for users to search for the resources they want. Also contains option for users to directly scroll through the entire database of resources if users do not want to spend their time searching.</td>
              <td>Default search results are based in alphabetical order. Results return as soon as the users type with the name and a basic description.</td>
              <td>Users can filter search results by: type, topic, research area, and location.</td>
              <td>N/A - no help option available. Only has customer service.</td>
              <td>Relatively smooth since the given search filters cover all if not most categories that allows users to find their desired results in almost all conditions.</td>
              <td>Eyes get drawn to the slogan "MEMORIES WORTH SAVING" on the landing page as the text appears to be most apparent and is the largest font size on the page.</td>
            </tr>
            <tr>
              <td>Addgene</td>
              <td>Niche</td>
              <td>Addgene is a global, nonprofit repository that was created to help scientists share plasmids. Plasmids are DNA-based research reagents commonly used in the life sciences.</td>
              <td>Straight forward design with a few colors used repetitively. Resources page contains guides, references, and instructions for ease of use. The webpage, however, does not contain a search portal that is dedicated to searching for resources.</td>
              <td>Default search results are based in categories. In this case, the search results come in four categories with relevance: principal investigators, addgene guides & resources, kits, and plasmids. Can also sort by popularity.</td>
              <td>Users can filter search results by: service, expression, experimental use, plasmid type, species, marker, resistance, popularity, and availability to industry.</td>
              <td>Visible and pops up as an interactive window.</td>
              <td>Given the search filters that cover all if not most categories, the portal allows users to find their desired results in almost all conditions. There are, however, too many search filters that makes the user flow somewhat complicated at times.</td>
              <td>Eyes get drawn to the center of the screen, which is the number of results.</td>
            </tr>
            <tr>
              <td>Cellosaurus</td>
              <td>Niche</td>
              <td>The cellosaurus is a knowledge resource on cell lines. It attempts to describe all cell lines used in biomedical research.</td>
              <td>Simple website with minimal design. Search portal contains only a few categories  and search options for users to navigate to.</td>
              <td>Hard to tell what the search results are based off from because there are currently no sort filters. Each page contains the total number of results available, so all results are in one page.</td>
              <td>No filtering options available.</td>
              <td>N/A - no help option available.</td>
              <td>Relatively poor since there are no search filters with minimal data and information provided. Hard for users to get their desired results.</td>
              <td>Eyes get drawn to the center of the screen, which is the type of species.</td>
            </tr>
            <tr>
              <td>Antibody registry</td>
              <td>Niche</td>
              <td>The Antibody Registry gives researchers a way to universally identify antibodies used in their research. The Antibody Registry assigns unique and persistent identifiers to each antibody so that they can be referenced within publications.</td>
              <td>Straight forward and minimalistic design with a few colors used repetitively. Landing page only allows users to search for category numbers along with an interactive chart of  vendors and antibodies available. The page also contains a tutorial, the registry, and participating vendors. All the elements together, however, make the landing page convoluted because it contains a lot of information and can be confusing for the users.</td>
              <td>Hard to tell what the search results are based off from because there are currently no sort filters. Each page contains 20 results in a chart style with categories containing: antibody ID, antibody name, target antigen, vendor, category number, citation, reference, clonality, clone ID, host organism, and comments.</td>
              <td>Users can filter search results by keyword.</td>
              <td>N/A - no help option available.</td>
              <td>Relatively convoluted since with the limited search filters, it may a lot of steps for the users to find the desired results.</td>
              <td>Eyes get drawn to the interactive chart since that area contains multifarious colors that easily attact the users.</td>
            </tr>
          </table>
        </div>
<div class="space"></div>
</div>


<div class="horizontalBlock">
  <img class="img contents-left" style="" src="/assets/img/mouse.png">
  
  <div class="contents-right">
    <h7>The data gathered from this competitive analysis exercises helped us understand that SciCrunch is one of the largest sources of biomedical information on the web. In 2019 it was searching over 13,000 research resources in its Registry and its contents of 250+ data resources comprising more than 800 million records in its Data Federation. It also led us to the keen discovery of understanding that  </h7><p><span class="greenHighlight">the founder of the company (a professor at University of California San Diego), described SciCrunch to us as an “AI tool for identifying mice and antibodies” </span></p>
    <br>
    <br>
    <br>
    <h8> but in the eyes of UX researchers this looked more like a "search tool for a database"</h8>
    <h7> based on what else is in the market for Biologists to use to gather materials and statistics for research.</h7>
    <br>
    <br>
    <br>
    <h7>Around the same time we also created a heuristic analysis based on Jakob Nielson’s principles. To complete this analysis we completed the questions in the table below individually, then compiled our answers.</h7>
    <br>
    <br>
  </div>
</div>



  <div class="hscroll table1">
<table width="100%" border="1" cellspacing="0" cellpadding="6">
<tbody>

  <tr>
  <th></th>
  <th colspan="8">Nielson Heuristic Analysis</th>
  </tr>

<tr>
<th></th>
<th colspan="3">Severity of problems (1-5)</th>
<th colspan="3">Recommendations</th>
</tr>

<tr>
<th>issue</th>
<th>Kyle</th>
<th>Aaron</th>
<th>Demery</th>
<th>Kyle</th>
<th>Aaron</th>
<th>Demery</th>
<th>Heuristic violated</th>
</tr>

<tr>
<td>The user has control and freedom throughout the search process</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>?</td>
<td>Search process currently contains basic categories for returning categorized results. The portal, however, should provide more advanced search filters. Would add an advanced search button for additional search options if possible</td>
<td>Provide more filters, search options so user knows what sorts of information is available/how information is organized</td>
<td>1</td>
</tr>

<tr>
<td>When searching for things on the SciCrunch portal, the interface is consistent</td>
<td>4</td>
<td>4</td>
<td>4</td>
<td>As for the resources page, the search function and UI are currently inconsistent with other pages on SciCrunch. Try to be consistent with only a few main colors and make sure they don't contrast each other</td>
<td>make the 'resources' page UI consistenet with the main sci crcunh page</td>
<td>searching, adding functions look very different and have different capabilities that even have different design features. Information available for each search result is inconsistent from the last. </td>
<td>2</td>
</tr>

<tr>
<td>There is enough help and documentation for a user on the site</td>
<td>4</td>
<td>3</td>
<td>3</td>
<td>Help and documentation is relatively difficult to navigate to on the website. Would add a tab or a button specifically for that in order to have a spot to direct users whenever they encounter questions</td>
<td>there is help and documentationn in the navigation menu, but it is 'nested' deeply and difficult to find. I wasn't even aware that tutorials existed till Bella showed us them.</td>
<td>Hard to find a tutorial on how to add a resource or search (there is one, but burried); help desk button is always available, "search tips" available at search bar, but wayyyyy too much information in an inconcise way</td>
<td>3</td>
</tr>

<tr>
<td>The SciCrunch website has an aesthetic that matches throughout the site</td>
<td>2</td>
<td>2</td>
<td>2</td>
<td>Could have a more consistent theme in terms of the color, text, and the font</td>
<td>maybe change the footers at the bottom of the page. People with color blindness could be limited by the current grey on blue color scheme</td>
<td>Aesthetic could be stronger with more of a pertinent theme, but for the most part: lime green and grey, small font size, sans font throughout, white background, crisp look, though lots of words almost everywhere</td>
<td>4</td>
</tr>

<tr>
<td>When searching for an item on the SciCrunch portal there is minimal distraction? (aka information overload)</td>
<td>2</td>
<td>1</td>
<td>5</td>
<td>Search results return sophisticated information such as species, genetic insert, and reference for each item. May seem like an information overload at first glance, but I personally think there's not much distraction</td>
<td>after you search for something there is a header called "facets" on the left sidebar, and I'm not sure if that is the right word to user there. Def of facet here: https://www.merriam-webster.com/dictionary/facet</td>
<td>Information overload is too real on this website - even if a bio expert were clicking through it and understands everything it says, it is still too many words and too many numbers </td>
<td>5</td>
</tr>

<tr>
<td>When searching for an item on the SciCrunch portal, the portal relies on the users' ability to recognize cues rather than recall what they do</td>
<td>1</td>
<td>3</td>
<td>4</td>
<td>The portal contains cues, but would take some time to familiarize them for certain types of users. Would try to make it accessible for users if possible</td>
<td>I thnik this is something that the website does well. </td>
<td>There aren't really any cues other than search 1 category of search filters...search results hold no cues, and user must read/skim to understand what the results are saying</td>
<td>6</td>
</tr>

<tr>
<td>The language used throughout the SciCrunch search process is clear and consistent?</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>Wouldn't be the best person to represent my thoughts about the language since some terms may be scientific; therefore, these terms in particular may be hard to fathom if you are not a biologist studying that specific field. In terms of accessibility, however, the search process overall is clear and consistent</td>
<td>I gave this one a 2 because to me there are some confusing bio words throughout the site, but im not sure if they are confusing to me bc I'm not a biologist, or if they are confusing to biologistst too. </td>
<td>uncertain...would need to check with biologists perhaps?? but most search results titles do not follow any language pattern or particular language template</td>
<td>7</td>
</tr>
</tbody>
</table>
</div>
</div>
  </div>

  <br>
  <br>
  <br>
  <div class="horizontalBlock">

    <img class="img contents-left sciCrunchImg" style="" src="/assets/img/biologist.png">

    <div class="contents-right">
      <p>The biggest incongruence we observed after compiling our results was on information overload. Aaron and Kyle rated information overload as a one and two respectively, while Demery rated the information overload on the search portal as a five out of five. we would keep this in the back of our minds during the next phases of research.<p>
    </div>

    <div class="contents-right60 space">
      <p>Next we wanted to figure out what Biologists themselves thought of this website and what they would describe it as. To accomplish this we looked for biologists on campus for user interviews. Our deadline for completing user research was about three weeks, so we split our research into three phases: </p>
    </div>
    
    <div class="contents-right60 ">
        <ol>
          <li>Problem Discovery + Recruitment </li>
          <li> How can we make it easier for users to navigate the portal?</li>
          <li> Usability testing</li>
      </ol>
    </div>

    <div class="contents-right60">
      <p>Phase one’s problem discovery was partially accomplished via the spreadsheets above, and now our team was venturing into the daunting world of user recruitment (which was talked about alllllll the time by our professors for being notoriously difficult). Initially our team reached out to professors and SciCrunch users with @umich.edu emails provided by our client. However, the users we reached out to were not responsive, so we had to tap into our personal network of: friends, GSI contacts, church members, and roommates – which turned out to be the cheapest, fastest, and most effective method to find biologists.<p>
        <br>
        <br>
    </div>

  </div>

  <div class="diagonal-box bg-sciCrunch2">
    </div class="content">
      <img class="img contents-left sciCrunchImg" style="" src="/assets/img/recruitment.png">
    </div>
  </div>

  
  <div class="diagonal-box bg-sciCrunch1">
  </div>


  </div>
