@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative:wght@400;700&display=swap');

/* Root font size */
html {
    font-size: 1rem;
    max-width: 100%;
    overflow-x: hidden;
}

/* Body default styles */
body {
    font-family: 'Cinzel Sans', serif;
    color: inherit;
    line-height: 1.5;
    background-color: white;
}

/*font-family: 'Cinzel Decorative', serif;*/

/* Typography Aliases */
/*h1 {*/
/*    font-family: 'Cinzel Decorative', serif;*/
/*    font-weight: 700;*/
/*    font-size: 5rem;*/
/*}*/
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    letter-spacing: 0.25rem;
}

h2 {
    font-family: 'Quattrocento', serif;
    font-weight: 400;
    font-size: 3rem; /* equivalent to 48px when root is 16px */
}

h3 {
    font-family: 'Quattrocento', serif;
    font-weight: 400;
    font-size: 2.25rem; /* equivalent to 36px when root is 16px */
    flex: 0 0 auto;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

p {
    font-family: 'Cinzel Sans', serif;
    /*color: inherit;*/
    /*background-color: white;*/
    font-size: 1.5rem;
    z-index: 10;
}

/* Color Aliases */
:root {
    --darkOrange: #59200F;
    --lightOrange: #EE805E;
    --orange: #EA7651FF;
    --lightYellow: #fbf9c1;
    --yellow: #F7F065;
    --blue: #66c1f8;
    --lightBlue: #94d1f7;
    --purple: #9150e8;
    --lightPurple: #9e66e8;
    --lightGray: #d2d1d1;
    --gray: #a8a8a8;
    --darkGrey: #7a7a7a;
    --white: #ffffff;
}


#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*background-color: rgba(0, 0, 0, 0.5); !* Assuming you want a semi-transparent overlay *!*/
}

#loadingWrapper {
    /* You can set a specific width for the wrapper if you want */
    width: 10%; /* Example percentage width */
}


#loadingLine {
    border: 8px solid #f3f3f3; /* Light grey background for the spinner */
    border-top: 8px solid #000; /* Blue color for the spinner */
    border-radius: 50%; /* Circular shape */
    width: 60px; /* Spinner size */
    height: 60px; /* Spinner size */
    animation: spin 2s linear infinite; /* Spinner animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.installSceneRight{
    width: 50%;
    margin-left: auto; /* This will push the div to the right side */
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks flex items vertically */
    justify-content: center; /* Centers content vertically */
    text-align: left; /* Keeps the text aligned to the left */
    height: 100vh; /* Assuming you want it to be as tall as the viewport */
    margin-right: 5vw;
}

.installSceneLeft{
    width: 50%;
    float: left;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks flex items vertically */
    justify-content: center; /* Centers content vertically */
    text-align: right;
    height: 100vh; /* Assuming you want it to be as tall as the viewport */
}


.scene.one {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
}

section {

    width: 100%;
    height: 100vh;
    position: relative;

}

.buffer {
    height: 40vh;
}

.loading-screen {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.trigger-section {
    height: 100vh; /* Height can be adjusted based on when you want the animation to start */
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-overlay4 {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background: linear-gradient(white, black);
    /*opacity: 0.5;*/
    z-index: 0;
}

.section-one {
    /*background-color: tomato;*/
}

.section-two {
    /*background-color: steelblue;*/
}

.section-three {
    /*background-color: crimson;*/
}

.section-four {
    /*background-color: lime;*/
}

.section-five {
    /*background-color: grey;*/
}