<!DOCTYPE html>
<html lang="en">
  {% include navigation.html %}
  {% include head.html %}
  <body>
      {% include header.html %}
      </section>
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
      <section id="publications">
        {% include publications.html %}
      </section>
      <section id="contact">
        {% include contact.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
