<!DOCTYPE html>
<html lang="en">
  <section id="head">
    {% include head.html %}</section>
<body>
  <section id="header">
    {% include header.html %}</section>
  <section id="about">
    {% include about.html %}</section>
  <section id="projects">
    {% include projects.html %}</section>
  <section id="footer">
    {{ content }}
  {% include footer.html %}</section>
</body>



<!-- <!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body> -->
