<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Sunnova Catalyst</title>
    <link rel="stylesheet" href="/assets/css/sunnova.css">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/assets/js/sunnova/sunnova.js"></script>
    <script rel="preload" type="module" src="/assets/js/sunnova/3d.js"></script>
  </head>

<!--Menu + scrollbar-->
<body>
  <div class="scroll-progress-bar"></div>
  <div class="menu-container">
    <button class="menu-button">☰</button>
    <div class="menu-items">
      <a href="#about-section">about</a>
      <a href="#features-section">features</a>
      <a href="#architecture-section">architecture</a>
    </div>
  </div>


  <!--####################-->
  <!--###SPLASH SCREEN ###-->
  <!--####################-->
  <div class= "content-container parallax-container">
    <div class="">
    <h1 class="sunnova-text">{{ page.title }}</h1>

<!--      <div class="sun">-->
<!--        <div class="ray_box">-->
<!--          <div class="ray ray1"></div>-->
<!--          <div class="ray ray2"></div>-->
<!--          <div class="ray ray3"></div>-->
<!--          <div class="ray ray4"></div>-->
<!--          <div class="ray ray5"></div>-->
<!--          <div class="ray ray6"></div>-->
<!--          <div class="ray ray7"></div>-->
<!--          <div class="ray ray8"></div>-->
<!--          <div class="ray ray9"></div>-->
<!--          <div class="ray ray10"></div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="button-container">
      <a href="#about-section" class="parallax-button">About Sunnova</a>
      <a href="#features-section" class="parallax-button">App features</a>
      <a href="#architecture-section" class="parallax-button">App architecture</a>
    </div>

      <div id="initial-overlay" class="initial-overlay"></div>

        <div class="dealership-svg-container">
          <img id="DealershipSVG" src="assets/js/sunnova/dealership.svg" alt="dealership" />
      </div>

      <div class="phone-svg-container">
        <img id="phoneSvg" src="assets/js/sunnova/phone.svg" alt="phone" />
      </div>

      <div class="gradient-overlay"></div>
    </div>
  </div>

<!--####################-->
<!--#######ABOUT#######-->
<!--####################-->
<div class="about-background">
  <div class="center-section-padding about-section top-divider" id="about-section">
    <p>{{ page.about }}</p>
    <p>{{ page.about1 }}</p>
    <p>{{ page.about2 }}</p>
  </div>
  <div class="desertSunBackground"></div>
</div>

<!--DEALERSHIP SVG -->
<!--<div class="svg-container">-->
<!--  <object id="mySvg1" type="image/svg+xml" data="assets/js/sunnova/dealership.svg" preserveAspectRatio="none" alt="Sunnova Splash"></object>-->
<!--</div>-->


<!--  TEXAS SVG -->
<!--  <div class="svg-container">-->
<!--    <object id="mySvg1" type="image/svg+xml" data="assets/img/sunnova/texas_outline.svg" preserveAspectRatio="none" alt="Sunnova Splash"></object>-->
<!--  </div>-->

  <div class="desert-background">
  <div class="desert-svg-container">
    <img id="desertPanelSvg" src="assets/img/sunnova/panelsInDesert.svg" alt="soalr panels in the desert" />
  </div>
  </div>

  <div class="bento-gradient-background">
    <div class="bento-description">
      <img id="bentoDescription" src="assets/img/sunnova/bentoDescription.svg" alt="lineDrawing1" />
    </div>
    <div class="">
      <div class="expandable-content-row" aria-hidden="true"></div>
        <div class="bento-box">
          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnnovaSolarHome.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt="Solar Home" class="svg-icon">
            </div>
            <p> {{ page.customers }} </p>
            <div class="detail-content">
              <p>{{page.customers1}}</p>
            </div>
          </div>
          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnovaWorldMap.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt="IPO" class="svg-icon">
            </div>
            <p> {{ page.locations }}</p>
            <div class="detail-content">
              <p>{{page.locations1}}</p>
            </div>
          </div>
          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnovaFounding.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt=Foounding" class="svg-icon">
            </div>
            <p>{{ page.founded }}</p>
            <div class="detail-content">
              <p>{{page.founded1}}</p>
            </div>
          </div>
          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnovaIPO.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt="IPO" class="svg-icon">
            </div>
            <p> {{ page.ipo_info }}</p>
            <div class="detail-content">
              <p>{{page.ipo_info1}}</p>
            </div>
          </div>
          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnovaInstall.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt="Install" class="svg-icon">
            </div>
            <p>{{ page.dealers }}</p>
            <div class="detail-content">
              <p>{{page.dealers1}}</p>
            </div>
          </div>

          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnovaImprovement.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt="Improvement" class="svg-icon">
            </div>
            <p>{{ page.app_reeditions }}</p>
            <div class="detail-content">
              <p>{{page.app_reeditions1}}</p>
            </div>
          </div>
          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnovaDOE.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt="DOE" class="svg-icon">
            </div>
            <p>{{ page.energy_loan }}</p>
            <div class="detail-content">
              <p>{{page.energy_loan1}}</p>
            </div>
          </div>
          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnovaSalesforce.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt="Salesforce" class="svg-icon">
            </div>
            <p>{{ page.salesforce }}</p>
            <div class="detail-content">
              <p>{{page.salesforce1}}</p>
            </div>
          </div>
          <div class="small-box">
            <div class="svg-container" style="--svg-mask-image: url('/assets/img/sunnova/sunnovaDailyInstalls.svg');">
              <img src="/assets/img/sunnova/sunnovaBlackBackground.svg" alt="Daily Installs" class="svg-icon">
            </div>
            <p> {{ page.daily_installs }}</p>
            <div class="detail-content">
              <p>{{page.daily_installs1}}</p>
            </div>
          </div>
        </div>
    </div>
</div>

<div class= "content-container">
  <div id="animation-trigger"></div>
  <div class="threejs-container1">
    <div id="loader" class="loader">
      <div id="progress-bar" class="progress-bar" style="width: 0%;"></div>
    </div>
    <canvas id="threejs-canvas1"></canvas>
    <!--    <button id="nextButton">Next</button>-->
    <button id="resetButton">Reset Animations</button>
  </div>
</div>




  <!--####################-->
  <!--######FEATURES######-->
  <!--####################-->

  <div class="center-section-padding" id="features-section">
    <h2>App Features</h2>
  </div>

  <div class="center-section-padding" >
    <h2> Department of Energy </h2>
    <p>{{ page.doe_loan }}</p>
    <p>{{ page.doe_hestia }}</p>
  </div>

  <div class="circle-path-container">
  <object id="svgObject1" type="image/svg+xml" data="/assets/img/sunnova/hestiaCircle.svg"></object>


    <div class="circle-path"></div>
    <img src="https://img.icons8.com/?size=256&id=wcK894NIt5Wv&format=png" id="moving-arrow" alt="Moving Arrow"/>
  </div>

  <div class="doe-container">
    <div class="aboutDOE-image">
      <img src="/assets/img/sunnova/hestia.png" alt="DOE">
    </div>
    <div id="particles-js"></div>
    <object id="svgObject" type="image/svg+xml" data="/assets/img/sunnova/particles_USA.svg"></object>
    <!-- This is where the SVG drawing for the animated rectangle will be added -->
    <div id="drawing"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      particlesJS.load('particles-js', '/assets/js/sunnova/sunnova_particles.json', function() {
        console.log('callback - particles.js config loaded');
      });
    });
  </script>






<!--####################-->
<!--####ARCHITECTURE####-->
<!--####################-->

  <div class="center-section-padding" id="architecture-section">
  <h2>App Architecture</h2>
  <p>{{ page.architecture }}</p>

  <div class="architecture-gallery-wrapper">
    <div class="architecture-gallery-container">
      {% for item in site.data.sunnovaArchitectureGallery %}
      <div class="architecture-gallery-item">
        <img src="{{ item.image }}" alt="{{ item.title }}">
        <div class="architecture-gallery-item-description">
          <h2>{{ item.title }}</h2>
          <p>{{ item.description }}</p>
        </div>
      </div>
      {% endfor %}
      <button class="scroll-button scroll-button-right arrow-button right" aria-label="Scroll right"></button>
      <button class="scroll-button scroll-button-left arrow-button left" aria-label="Scroll left"></button>
    </div>
  </div>
  <img class="architecture-desktop" src="/assets/img/sunnova/Architecture_Desktop_View.png" alt="Architecture Desktop View">
  <img class="architecture-mobile" src="/assets/img/sunnova/Architecture_Mobile_View.png" alt="Architecture Mobile View">
</div>



  <!-- Your custom script that uses THREE and GLTFLoader -->
<!--  <script type="module" src="/assets/js/sunnova/three.js"></script>&lt;!&ndash;&ndash;&gt;-->
  <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js"></script>


  <!--  Architecture section photo viewing -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js"></script>
  <!-- Ensure your custom script is the last one loaded -->
  <script src="/assets/js/sunnova/sunnova_particles.js"></script>
  <script src="/assets/js/sunnova/architecture.js"></script>
  <script src="/assets/js/sunnova/svgLineDrawSplashScreen.js"></script>




<!-- 3D rendering-->
<!--<div class="threejs-container">-->
<!--  <canvas id="threejs-canvas"></canvas>-->
<!--</div>-->
</body>

</html>
