<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - scrollTrigger - three.js</title>
    <link rel="stylesheet" href="/assets/css/threeJS.css">

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>

<div class="gradient-overlay4">
    <div id="loading-screen" style="z-index: 10; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999;">
        <div id="loadingWrapper">
            <div id="loadingBorder">
                <div id="loadingWhitespace">
                    <div id="loadingLine">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- partial:index.partial.html -->
    <div class="scene one"></div>

    <section class="section-one">
        <div class="installSceneRight">
            <h2>After a site-survey has been; submitted, approved, and a cusomter wants to proceed- Sunnova dealers start installing equipment on properties.</h2>
        </div>
    </section>
    <section class="section-two">
        <div class="installSceneLeft">
            <h2> Their business primarily offered solar panel installations in its infancy</h2>
        </div>
        <div id="trigger-section1" class="trigger-section"></div>
    </section>

    <section class="section-three">
        <div class="installSceneRight">
            <h2> However, they also started installing solar-panel-adjacent-technology too. They currently install: </h2>
        </div>
        <div id="trigger-section2" class="trigger-section"></div>
    </section>

    <section class="section-four">
        <div class="installSceneLeft">
            <h2> storage batteries, battery electric vehicle chargers, and connections to electric utility companies for energy transferring. </h2>
        </div>
        <div id="trigger-section3" class="trigger-section"></div>
    </section>

    <section class="section-five">
    </section>
</div>

<!-- partial -->
<script src='https://assets.codepen.io/16327/gsap-latest-beta.min.js'></script>
<script src='https://assets.codepen.io/16327/ScrollTrigger.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>

<script type="module" src="/assets/js/threeJS.js"></script>


</body>
</html>
